<div>
  <h1>Administracion de productos</h1>
  
  <h3>Subir un producto</h3>
  <form action="/api/products" method="post">
    <input type="text" id="input-title" value="" placeholder="Ingrese titulo">
    <input type="text" id="input-description" value="" placeholder="Ingrese descripcion">
    <input type="number" id="input-price" value="" placeholder="Ingrese precio">
    <input type="text" id="input-code" value="" placeholder="Ingrese codigo">
    <input type="text" id="input-thumbail" value="" placeholder="Ingrese thumbail">
    <input type="number" id="input-stock" value="" placeholder="Ingrese stock">
    <input type="text" id="input-category" value="" placeholder="Ingrese categoria">
    <input type="submit" value="Subir Producto">
  </form>

  <h3>Modificar un producto</h3>
  <form action="/api/product/" method="put">

  </form>

  <h3>Elminar un producto</h3>
  <form action="" method="delete">

  </form>
</div>