<div>
  <h1>Bienvenido a su perfil, {{user}}</h1>
  <p>Su rol es: {{role}}</p>
  <p>Su email es: {{email}}</p>
  <a href="/api/session/premium/{{id}}">Cambiar rol</a>
  <a href="/products-manager">Manager de productos</a>
  <a href="/logout">Logout</a>
</div>