<div>
  <h1>RealTime Products</h1>
  <h3>Products</h3>
  <div id="div-products">
    
  </div>
  
  <form>
    <input type="text" id="input-title" value="" placeholder="Ingrese titulo">
    <input type="text" id="input-description" value="" placeholder="Ingrese descripcion">
    <input type="number" id="input-price" value="" placeholder="Ingrese precio">
    <input type="text" id="input-code" value="" placeholder="Ingrese codigo">
    <input type="text" id="input-thumbail" value="" placeholder="Ingrese thumbail">
    <input type="number" id="input-stock" value="" placeholder="Ingrese stock">
    <input type="text" id="input-category" value="" placeholder="Ingrese categoria">
    <input id="input-submit" type="button" value="Subir Producto">
    <input id="input-delete" type="button" value="Borrar un producto">
  </form>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/index.js"></script>