<div>
  <h1>Bienvenido a la seccion para recuperar tu contraseña!</h1>

  <p>Porfavor, rellene el siguiente formulario</p>
  <form action="/recover-pass/sendMail" method="post">
    <label for="email">Email</label>
    <input type="email" name="email" id="" placeholder="ingrese su email">
    <input type="submit" value="Mandar mail">
  </form>
</div>