<div>
    <h1>Registrarse</h1>
    <form action="/api/users/register" method="post">
        <label for="firstName">Nombre</label>
        <input type="text" name="firstName" id="">
        <label for="lastName">Apellido</label>
        <input type="text" name="lastName" id="">
        <label for="age">Edad</label>
        <input type="number" name="age" id="">
        <label for="email">Email</label>
        <input type="email" name="email" id="">
        <label for="password">Contraseña</label>
        <input type="password" name="password" id="">

        <input type="submit" value="Registrarse">
    </form>
    <a href="/login">Ya tengo cuenta</a>
</div>